    #back_button span:before,
    input {
        -webkit-font-smoothing: antialiased
    }

    @font-face {
        font-family: robotomedium;
        src: url(/fonts/roboto-medium-webfont.woff2) format('woff2'), url(/fonts/roboto-medium-webfont.woff) format('woff');
        font-weight: 400;
        font-style: normal
    }

    @font-face {
        font-family: robotobold;
        src: url(/fonts/roboto-bold-webfont.woff2) format('woff2'), url(/fonts/roboto-bold-webfont.woff) format('woff');
        font-weight: 400;
        font-style: normal
    }

    @font-face {
        font-family: robotolight;
        src: url(/fonts/roboto-light-webfont.woff2) format('woff2'), url(/fonts/roboto-light-webfont.woff) format('woff');
        font-weight: 400;
        font-style: normal
    }

    @font-face {
        font-family: robotolight;
        src: url(/fonts/roboto-light-webfont.woff2) format('woff2'), url(/fonts/roboto-light-webfont.woff) format('woff');
        font-weight: 400;
        font-style: normal
    }

    body {
        font-family: arial, verdana, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1;
        min-width: 320px;
        text-align: center;
        background-color: #92d5d8;
        overflow-x: hidden
    }

    #product-header,
    #progress-text {
        font-family: robotomedium, arial, sans-serif
    }

    .navbar,
    .navbar.navbar-no-bg {
        background: 0 0
    }

    #header-section {
        min-height: 112px
    }

    .navbar {
        margin-bottom: 30px;
        padding-top: 10px;
        border: 0;
        -o-transition: all .3s;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        -ms-transition: all .3s;
        transition: all .3s
    }

    @media only screen and (max-width:767px) {
        .navbar {
            padding-top: 0;
            margin-bottom: 0
        }
        ul.navbar-nav {
            display: none
        }
    }

    @media only screen and (max-device-width:360px) {
        .navbar {
            margin-bottom: 35px
        }
    }

    @media only screen and (min-width:768px) {
        .navbar-nav {
            float: right;
            margin: 0
        }
    }

    .navbar-nav {
        float: right;
        margin: 0
    }

    ul.navbar-nav {
        font-size: 23px;
        color: #fff
    }

    .navbar-inverse ul.navbar-nav li {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-right: 10px
    }

    .navbar-inverse ul.navbar-nav li .li-text {
        opacity: .8
    }

    .navbar-inverse ul.navbar-nav li a {
        display: inline;
        padding: 0;
        color: #fff
    }

    .navbar-inverse ul.navbar-nav li a:hover {
        color: #fff;
        opacity: 1;
        border-bottom: 1px dotted #fff
    }

    .navbar-inverse ul.navbar-nav li a:focus {
        color: #fff;
        outline: 0;
        opacity: 1;
        border-bottom: 1px dotted #fff
    }

    .navbar-inverse ul.navbar-nav li .li-social a {
        margin: 0 5px;
        font-size: 28px;
        vertical-align: middle;
        color: #b5b5b5
    }

    .navbar-inverse ul.navbar-nav li .li-social a:focus,
    .navbar-inverse ul.navbar-nav li .li-social a:hover {
        border: 0;
        color: #19b9e7
    }

    .navbar-brand {
        width: 230px;
        background: url(/images/logo-av.png) left center no-repeat;
        text-indent: -99999px
    }

    .logo-icon {
        width: 130px;
        margin-left: 20px;
        margin-right: auto;
        float: left
    }

    @media only screen and (min-width:640px) {
        .logo-icon {
            width: 174px
        }
    }

    .social-container {
        float: none
    }

    @media only screen and (min-width:768px) {
        .logo-icon {
            width: 100%;
            margin-left: auto;
            float: none
        }
        .social-container {
            float: right
        }
    }

    #product-header {
        margin-top: 25px;
        font-size: 28px;
        color: #fff
    }

    @media only screen and (max-width:991px) {
        #product-header {
            font-size: 22px
        }
    }

    #headerText {
        position: relative;
        padding-top: 8px
    }

    #progress-text {
        padding-bottom: 30px;
        color: #444;
        font-size: 25px;
        font-weight: 700;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto
    }

    @media only screen and (max-width:1199px) {
        #progress-text {
            font-size: 22px
        }
    }

    @media only screen and (max-width:991px) {
        #progress-text {
            font-size: 16px
        }
    }

    @media only screen and (max-width:767px) {
        #form-container-header,
        #main-header {
            padding: 0
        }
        #product-header {
            margin: 0
        }
        #progress-text {
            padding-bottom: 0;
            position: relative
        }
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto
    }

    .inner-bg {
        background: url(/images/house-background.png) center center no-repeat #92d5d8;
        background-size: contain;
        padding-bottom: 40px;
        transition: background .2s ease;
        position: relative;
        margin-bottom: 60px
    }

    .absolute,
    .speech-bubble {
        position: absolute
    }

    .fixed-bg {
        background-position: center bottom;
        min-height: 450px;
        padding-bottom: 0
    }

    .speech-bubble {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        width: 80%;
        margin: 10px auto;
        left: 0;
        right: 0;
        bottom: -15px
    }

    @media only screen and (max-width:767px) {
        .inner-bg {
            background-image: none
        }
        .fixed-bg {
            min-height: 410px
        }
        .speech-bubble:before {
            content: open-quote
        }
        .speech-bubble:after {
            content: close-quote
        }
    }

    @media only screen and (min-width:768px) {
        .speech-bubble {
            padding: 5px 40px;
            background: #fff;
            border: 1px solid #000;
            max-width: 660px;
            color: #000;
            font-weight: 700;
            width: 603px;
            line-height: 30px;
            bottom: -60px;
            border-radius: 10px
        }
        .speech-bubble:before {
            content: "";
            background: url(/images/chatbox-corner.png) no-repeat;
            top: -30px;
            height: 30px;
            width: 100%;
            display: block;
            position: absolute
        }
    }

    #back_button,
    #continue_button {
        float: none;
        width: 100%;
        color: #fff
    }

    #back_button_group {
        width: 150px;
        margin: auto;
        bottom: 21px;
        left: 0;
        right: 0
    }

    #back_button {
        background-color: transparent;
        display: inline-block;
        opacity: .75;
        box-shadow: none
    }

    #back_button span:before {
        color: #fff;
        content: "\f100"
    }

    #continue_button_group {
        width: 290px;
        margin: 0 auto 10px;
        bottom: 55px;
        left: 0;
        right: 0
    }

    #continue_button {
        background-color: #ff7f00;
        display: inline-block;
        height: 50px;
        margin: 10px auto 0;
        z-index: 9;
        font-size: 28px;
        border-radius: 6px;
        font-weight: 700;
        border: 2px solid #ffa953;
        opacity: 1;
        font-family: robotobold;
        line-height: 25px;
        text-transform: lowercase
    }

    @media only screen and (max-width:767px) {
        #back_button_group {
            bottom: -40px;
            left: 10px;
            right: initial;
            float: left
        }
        #continue_button_group {
            bottom: -10px
        }
        #continue_button {
            margin-top: 20px
        }
    }

    #continue_button span:after {
        color: #fff;
        content: "\f101";
        font-size: 20px;
        margin-left: 10px
    }

    #back_button span:before,
    #continue_button span:after {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        padding-right: 4px;
        display: inline-block
    }

    .form-group {
        max-width: 700px;
        margin: 0 auto 15px
    }

    body #progressbar .ui-widget-header {
        float: left;
        width: 0;
        height: 100%;
        font-size: 12px;
        line-height: 15px;
        color: #000;
        font-weight: 400;
        text-align: center;
        margin: 0;
        border-radius: 0;
        background: #0049ab;
        border: none;
        position: relative
    }

    body #progressbar-text {
        position: absolute;
        left: 10px;
        font-size: 12px;
        line-height: 16px;
        color: #000;
        font-weight: 400
    }

    body #progressbar.ui-widget-content {
        height: 15px;
        background: #dedede;
        border-radius: 5px;
        border: .5px solid #034bac;
        width: 78%;
        float: right
    }

    @media only screen and (max-width:991px) {
        body #progressbar.ui-widget-content {
            width: 70%
        }
        body #progress-step-container {
            min-width: 180px
        }
    }

    @media only screen and (max-width:767px) {
        body #progressbar.ui-widget-content {
            width: 80%
        }
    }

    body #progress-step-container {
        max-width: 240px;
        clear: both;
        margin: auto 15px auto auto;
        position: relative;
        float: right;
        width: 100%;
        background: #fff;
        padding: 4px 15px 4px 0;
        border-radius: 5px;
        -webkit-box-shadow: 1px 1px 1px 1px #aaa;
        -moz-box-shadow: 1px 1px 1px 1px #aaa;
        box-shadow: 1px 1px 1px 1px #aaa;
        display: none
    }

    #progress-step-container:after,
    #progress-step-container:before,
    .field-label-pair:after,
    .field-label-pair:before {
        content: "";
        display: table
    }

    #progress-step-container:after {
        clear: both
    }

    @media only screen and (max-width:767px) {
        body #progress-step-container {
            max-width: 240px;
            margin-right: 10px;
            top: 10px
        }
        .field-group {
            max-width: 300px
        }
    }

    .field-group {
        margin: auto;
        min-height: 325px
    }

    .field-group h3 {
        margin-top: 20px;
        margin-bottom: 20px
    }

    @media only screen and (max-width:767px) {
        .field-group h3 {
            margin-top: 10px;
            margin-bottom: 10px
        }
    }

    .field-label-pair:after {
        clear: both
    }

    div[id^=container-outer-header-] h3,
    label.header {
        font-size: 34px;
        color: #fff;
        line-height: 30px
    }

    label.header {
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: 400
    }

    #average_grade,
    #condo_prop,
    #excellent_grade,
    #fair_grade,
    #good_grade,
    #investment-prop-button,
    #mortgage-button,
    #multiple_prop,
    #poor_grade,
    #primary-prop-button,
    #refi-button,
    #single_prop,
    #townhouse_prop,
    #vacation-prop-button {
        background: url(/images/sprite_desktop.png) no-repeat #fff
    }

    @media only screen and (max-width:767px) {
        div[id^=container-outer-header-] h3,
        label.header {
            font-size: 22px
        }
        #average_grade,
        #condo_prop,
        #excellent_grade,
        #fair_grade,
        #good_grade,
        #investment-prop-button,
        #mortgage-button,
        #multiple_prop,
        #poor_grade,
        #primary-prop-button,
        #refi-button,
        #single_prop,
        #townhouse_prop,
        #vacation-prop-button {
            background: url(/images/sprite_mobile.png) #fff
        }
    }

    #average_grade-text,
    #condo_prop-text,
    #excellent_grade-text,
    #fair_grade-text,
    #good_grade-text,
    #investment-prop-button-text,
    #mortgage-button-text,
    #multiple_prop-text,
    #poor_grade-text,
    #primary-prop-button-text,
    #refi-button-text,
    #single_prop-text,
    #townhouse_prop-text,
    #vacation-prop-button-text {
        height: 30px;
        padding-top: 8px;
        background-color: #5bb7f7;
        font-size: 14px;
        color: #fff;
        font-weight: 400
    }

    #average_grade-text label,
    #condo_prop-text label,
    #excellent_grade-text label,
    #fair_grade-text label,
    #good_grade-text label,
    #investment-prop-button-text label,
    #mortgage-button-text label,
    #multiple_prop-text label,
    #poor_grade-text label,
    #primary-prop-button-text label,
    #refi-button-text label,
    #single_prop-text label,
    #townhouse_prop-text label,
    #vacation-prop-button-text label {
        font-family: robotolight, arial, sans-serif;
        color: #fff
    }

    #CRED_GRADE_OUTER_GROUP .selected,
    #LOAN_TYPE_OUTER_GROUP .selected,
    #PRODUCT_OUTER_GROUP .selected,
    #PROP_DESC_OUTER_GROUP .selected,
    #PROP_PURP_OUTER_GROUP .selected,
    #SPEC_HOME .selected {
        border-color: #5bb7f7
    }

    .btn-group {
        width: 100%
    }

    @media only screen and (max-width:767px) {
        #average_grade-text,
        #condo_prop-text,
        #excellent_grade-text,
        #fair_grade-text,
        #good_grade-text,
        #investment-prop-button-text,
        #mortgage-button-text,
        #multiple_prop-text,
        #poor_grade-text,
        #primary-prop-button-text,
        #refi-button-text,
        #single_prop-text,
        #townhouse_prop-text,
        #vacation-prop-button-text {
            height: 49px;
            line-height: 30px;
            color: #fff;
            font-size: 18px;
            letter-spacing: 1px;
            text-align: left;
            background-color: #34A6F5
        }
        .btn-group .border.col-sm-4,
        .btn-group .border.col-sm-6 {
            margin-bottom: 5px
        }
        .btn-group .border.col-sm-4:last-child {
            margin-bottom: 5px
        }
    }

    .max-width-450 {
        max-width: 450px
    }

    #average_grade-group,
    #condo_prop-group,
    #excellent_grade-group,
    #fair_grade-group,
    #good_grade-group,
    #multiple_prop-group,
    #poor_grade-group,
    #single_prop-group,
    #townhouse_prop-group {
        border: 4px solid #DDD;
        border-radius: 6px;
        display: block;
        height: auto;
        margin: 0 auto;
        text-align: center;
        padding: 0
    }

    .buttons-south-text {
        clear: both;
        font-size: 14px;
        padding: 14px 5px 0;
        color: #105067;
        text-align: center
    }

    .buttons-south-text label {
        font-weight: 400
    }

    @media only screen and (max-width:767px) {
        .buttons-south-text {
            padding: 0 5px
        }
    }

    input {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        outline: 0
    }

    body input,
    body select {
        width: 290px;
        height: 45px;
        border: 1px solid #ccc;
        background: #fff;
        border-radius: 5px;
        font-size: 18px;
        letter-spacing: .03em;
        padding: 5px 8px;
        color: #000
    }

    .input-label {
        line-height: 45px;
        text-align: left;
        color: #fff;
        font-size: 24px
    }

    .input-label label {
        font-weight: 400
    }

    .input-body {
        margin-bottom: 15px
    }

    @media only screen and (max-width:767px) {
        body input,
        body select {
            width: 100%
        }
        .input-label {
            line-height: 30px;
            text-align: center
        }
        .input-body {
            margin-bottom: 8px
        }
    }

    .south-text {
        color: #105067;
        text-align: left;
        font-size: 12px;
        padding: 2px 0 0 5px;
        font-family: robotomedium
    }

    .south-text label {
        font-weight: 400
    }

    .north-text {
        color: #105067;
        font-size: 14px
    }

    .north-text label {
        font-weight: 400
    }

    .error input,
    .error select {
        border-color: #C00
    }

    .error-message {
        color: #C00;
        margin: 5px
    }

    .blue-btn,
    .blue-btn:hover {
        color: #34A6F3
    }

    .blue-btn {
        background: #e6e6e6;
        border-color: #34A6F3;
        border-width: 1px;
        border-radius: 0;
        font-size: 20px;
        width: 100%
    }

    .blue-btn.selected {
        background: #5BB7F7;
        color: #fff
    }

    .form-group .hidden-xs {
        margin-top: 30px;
        text-align: center;
        font-size: 22px;
        color: #fff;
        font-weight: 400
    }

    .form-group .visible-xs {
        color: #fff;
        font-size: 18px
    }

    .slider-south-text {
        margin-top: 10px;
        font-size: 16px;
        color: #105067
    }

    .slider-south-text label {
        font-weight: 400
    }

    body .ui-slider .ui-slider-range {
        background: #5bb7f7;
        border-color: #5bb7f7;
        border-radius: 2px
    }

    body .ui-slider.ui-slider-horizontal {
        background-clip: padding-box;
        border-color: #ddd;
        border-radius: .2125em;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
        color: #333;
        font-weight: 700;
        position: relative;
        overflow: visible;
        text-shadow: 0 1px 0 #eee;
        border-width: 1px;
        border-style: solid;
        height: 16px;
        top: 6px;
        margin: 5px 15px 1.5em
    }

    a.ui-slider-handle.ui-state-default.ui-corner-all {
        background-color: #f6f6f6;
        border-color: #ddd;
        border-width: 1px;
        border-radius: inherit;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
        color: #333;
        cursor: pointer;
        display: block;
        text-shadow: 0 1px 0 #f3f3f3;
        font-size: .9em;
        font-weight: 700;
        line-height: 30px;
        position: absolute;
        z-index: 1;
        top: 52%;
        width: 29px;
        height: 29px;
        margin: -15px 0 0 -15px;
        outline: 0;
        padding: 0
    }

    #container-outer-header-BANK strong,
    .tickbox label {
        font-weight: 400
    }

    #PRODUCT_FIELD_GROUP_FORM_GROUP {
        max-width: 400px;
        margin: auto
    }

    #mortgage-button-group,
    #refi-button-group {
        border: 4px solid #DDD;
        border-radius: 6px;
        display: block;
        height: auto;
        text-align: center;
        padding: 0;
        margin: 15px
    }

    .btn-group #mortgage-button,
    .btn-group #refi-button {
        width: 100%;
        border-radius: 0;
        background-color: #FFF;
        display: block;
        height: 140px;
        margin: 0 auto;
        overflow: hidden;
        text-align: center
    }

    #refi-button {
        background-position: -5px -9px
    }

    #mortgage-button {
        background-position: -250px -7px
    }

    @media only screen and (max-width:767px) {
        .btn-group #mortgage-button,
        .btn-group #refi-button {
            float: left;
            height: 49px;
            width: 70px;
            border-right: 3px solid #ddd;
            margin-right: 25px
        }
        #refi-button {
            background-position: -110px -179px
        }
        #mortgage-button {
            background-position: -6px -178px
        }
    }

    #PROP_DESC_FIELD_GROUP_FORM_GROUP {
        max-width: 580px;
        margin: auto
    }

    #PROP_DESC_OUTER_GROUP .btn-group .border {
        width: 22.5%;
        margin-right: 15px
    }

    #PROP_DESC_OUTER_GROUP .btn-group .border:last-of-type {
        margin-right: 0
    }

    #average_grade,
    #condo_prop,
    #excellent_grade,
    #fair_grade,
    #good_grade,
    #multiple_prop,
    #poor_grade,
    #single_prop,
    #townhouse_prop {
        width: 100%;
        border-radius: 0;
        height: 115px
    }

    #single_prop {
        background-position: -11px -204px
    }

    #multiple_prop {
        background-position: -189px -202px
    }

    #townhouse_prop {
        background-position: -352px -204px
    }

    #condo_prop {
        background-position: -514px -201px
    }

    @media only screen and (max-width:767px) {
        #PROP_DESC_FIELD_GROUP_FORM_GROUP {
            max-width: 270px
        }
        #PROP_DESC_OUTER_GROUP .btn-group .border {
            width: 100%;
            margin-right: 0;
            margin-bottom: 5px
        }
        #condo_prop,
        #multiple_prop,
        #single_prop,
        #townhouse_prop {
            float: left;
            height: 49px;
            width: 25%;
            border-right: 3px solid #ddd;
            margin-right: 25px
        }
        #single_prop {
            background-position: -185px -99px
        }
        #multiple_prop {
            background-position: -101px -98px
        }
        #townhouse_prop {
            background-position: -269px -99px
        }
        #condo_prop {
            background-position: -5px -95px
        }
    }

    #CRED_GRADE_OUTER_GROUP {
        max-width: 700px;
        margin: auto;
        padding-left: 30px
    }

    @media only screen and (max-width:767px) {
        #CRED_GRADE_FIELD_GROUP.field-group {
            margin-top: -10px
        }
        #CRED_GRADE_OUTER_GROUP {
            max-width: 240px;
            padding-left: 0
        }
    }

    #average_grade-group,
    #excellent_grade-group,
    #fair_grade-group,
    #good_grade-group,
    #poor_grade-group {
        margin: 0 20px 0 auto;
        min-width: 118px
    }

    #poor_grade-group {
        margin-right: 0
    }

    #excellent_grade {
        background-position: -17px -366px
    }

    #good_grade {
        background-position: -166px -365px
    }

    #average_grade {
        background-position: -323px -365px
    }

    #fair_grade {
        background-position: -480px -366px
    }

    #poor_grade {
        background-position: -636px -366px
    }

    #PROP_PURP_INNER_GROUP.btn-group {
        margin-left: 40px
    }

    #investment-prop-button-group,
    #primary-prop-button-group,
    #vacation-prop-button-group {
        border: 4px solid #DDD;
        border-radius: 6px;
        display: block;
        height: auto;
        margin: 0 15px;
        text-align: center;
        padding: 0;
        max-width: 25%
    }

    #investment-prop-button,
    #primary-prop-button,
    #vacation-prop-button {
        width: 100%;
        border-radius: 0;
        height: 125px
    }

    #primary-prop-button {
        background-position: 10px -203px
    }

    #vacation-prop-button {
        background-position: -333px -203px
    }

    #investment-prop-button {
        background-position: -490px -22px
    }

    @media only screen and (max-width:767px) {
        #average_grade-group,
        #excellent_grade-group,
        #fair_grade-group,
        #good_grade-group,
        #poor_grade-group {
            margin-bottom: 5px;
            margin-right: 0
        }
        #average_grade,
        #excellent_grade,
        #fair_grade,
        #good_grade,
        #poor_grade {
            float: left;
            height: 49px;
            width: 26%;
            border-right: 3px solid #ddd;
            margin-right: 25px
        }
        #excellent_grade {
            background-position: -359px -16px
        }
        #good_grade {
            background-position: -179px -15px
        }
        #average_grade {
            background-position: -4px -17px
        }
        #fair_grade {
            background-position: -538px -15px
        }
        #poor_grade {
            background-position: -712px -16px
        }
        #PROP_PURP_INNER_GROUP.btn-group {
            margin-left: 0
        }
        #investment-prop-button-text,
        #primary-prop-button-text,
        #vacation-prop-button-text {
            line-height: 2;
            font-size: 16px
        }
        #investment-prop-button-group,
        #primary-prop-button-group,
        #vacation-prop-button-group {
            max-width: none;
            margin-bottom: 5px
        }
        #investment-prop-button,
        #primary-prop-button,
        #vacation-prop-button {
            float: left;
            height: 49px;
            width: 25%;
            border-right: 3px solid #ddd;
            margin-right: 25px
        }
        #primary-prop-button {
            background-position: -185px -99px
        }
        #vacation-prop-button {
            background-position: 178px -100px
        }
        #investment-prop-button {
            background-position: -110px -178px
        }
    }

    #DEMOGRAPHIC_FIELD_GROUP_FORM_GROUP.form-group select,
    #DEMOGRAPHIC_FIELD_GROUP_FORM_GROUPform-group input[type=text],
    #PERSONAL_FIELD_GROUP_FORM_GROUP.form-group input[type=text],
    #PERSONAL_FIELD_GROUP_FORM_GROUP.form-group input[type=email],
    #PERSONAL_FIELD_GROUP_FORM_GROUP.form-group select {
        width: 100%
    }

    #MTG_TWO_OUTER_GROUP .btn-group {
        margin-bottom: 15px
    }

    div[id*="_MORTGAGE_FIELD_GROUP_FORM_GROUP_BAL_TWO_FIELD_LABEL_PAIR"] {
        margin-bottom: 20px
    }

    #DEMOGRAPHIC_FIELD_GROUP_FORM_GROUP.form-group {
        max-width: 480px;
        margin: auto
    }

    #DEMOGRAPHIC_FIELD_GROUP #city-none-edit-container {
        padding-right: 0;
        padding-left: 0;
        margin: 10px 0
    }

    .none-edit-cont {
        color: #fff;
        font-size: 18px;
        text-align: center
    }

    body .validating-message {
        color: #fff!important;
        font-size: 18px;
        text-align: center
    }

    #PERSONAL_FIELD_GROUP_FORM_GROUP.form-group {
        max-width: 580px;
        margin: auto
    }

    input[type=tel].phone-field {
        width: 28%
    }

    input[type=tel].phone-field:nth-last-of-type(2) {
        width: 34%
    }

    .phone-extras {
        font-size: 20px
    }

    #PERSONAL_FIELD_GROUP_FORM_GROUP.form-group .border {
        margin-bottom: 11px
    }

    @media only screen and (max-width:767px) {
        #PERSONAL_FIELD_GROUP_FORM_GROUP.form-group {
            margin-top: -10px
        }
        #PERSONAL_FIELD_GROUP_FORM_GROUP.form-group .border {
            margin-bottom: 5px
        }
    }

    #container-outer-header-BANK {
        text-align: center;
        color: #fff;
        font-size: 34px;
        margin-bottom: 21px
    }

    #container-outer-header-BANK span {
        display: block
    }

    #BANK_INNER_GROUP {
        max-width: 225px;
        margin: auto;
        text-align: left
    }

    #BANK_FIELD_GROUP .form-group {
        position: relative
    }

    @media only screen and (max-width:767px) {
        #BANK_FIELD_GROUP.field-group {
            max-width: 340px
        }
        #BANK_FIELD_GROUP .form-group {
            margin-bottom: 0
        }
        #container-outer-header-BANK {
            font-size: 22px;
            margin-bottom: 10px
        }
        #container-outer-header-BANK span {
            display: inline
        }
        #BANK_INNER_GROUP {
            max-width: 300px
        }
    }

    #BANK_FIELD_GROUP .error-message.loc-bottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 22px
    }

    .tickbox {
        position: relative;
        padding: 0
    }

    #bank-other-checkbox-group {
        margin-bottom: 5px
    }

    .tickbox input[type=checkbox] {
        visibility: hidden;
        display: none
    }

    .tickbox label {
        font-size: 25px;
        font-size: 22px;
        font-family: arial, sans-serif;
        letter-spacing: 1px;
        cursor: pointer;
        position: relative;
        text-align: left;
        padding-left: 35px;
        line-height: 1;
        margin-bottom: 10px;
        color: #fff
    }

    .tickbox label:after,
    .tickbox label:before {
        position: absolute;
        content: ''
    }

    .tickbox label:before {
        width: 24px;
        height: 24px;
        border: 2px solid #fff;
        border-radius: 3px;
        background-color: transparent;
        top: -1px;
        left: 0
    }

    .tickbox label:after {
        width: 14px;
        height: 7px;
        top: 6px;
        left: 5px;
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        background: 0 0;
        opacity: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        transition: opacity .2s ease
    }

    .tickbox input[type=checkbox]:checked+label:after {
        opacity: 1
    }

    @media only screen and (max-width:767px) {
        .tickbox label {
            font-size: 28px;
            margin-bottom: 10px;
            line-height: 36px;
            padding-left: 50px
        }
        .tickbox label:before {
            width: 36px;
            height: 36px;
            border-radius: 5px;
            top: 0
        }
        .tickbox label:after {
            width: 24px;
            height: 12px;
            top: 9px;
            left: 6px;
            border-width: 4px
        }
    }

    .disclaimer {
        max-width: 600px;
        margin: auto auto 40px;
        text-align: left;
        padding-top: 10px;
        clear: both
    }

    @media only screen and (max-width:767px) {
        .disclaimer {
            margin-left: 30px;
            margin-right: 30px
        }
    }

    .disclaimer label {
        font-weight: 500;
        font-family: robotomedium;
        color: #333;
        font-size: 12px;
        line-height: 1.3em
    }

    #securityLogo a {
        display: block
    }

    #secureSealImg {
        background: url(/images/security-logos.png) 10px 5px no-repeat;
        width: 115px;
        height: 51px
    }

    #houseSealImg {
        background: url(/images/security-logos.png) -94px 7px no-repeat;
        width: 70px;
        height: 66px
    }

    #bbOnlineSealImg {
        background: url(/images/security-logos.png) -157px 4px no-repeat;
        width: 90px;
        height: 51px
    }

    #containerFooter {
        text-align: left;
        max-width: 750px
    }

    .footerSection {
        clear: both;
        font-family: robotomedium, arial, sans-serif;
        font-size: 11px;
        line-height: 13px;
        margin: 0 auto
    }

    #footerLinks,
    #securityLogo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    #footerLinks {
        padding: 20px 10px
    }

    #footerLinks ul,
    #securityLogo ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0
    }

    #footerLinks ul li {
        text-align: -webkit-match-parent;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center
    }

    #footerLinks.ios-friendly ul {
        display: block
    }

    #footerLinks.ios-friendly ul li {
        float: left
    }

    #footerLinks ul li a {
        color: #000;
        padding-right: .5rem;
        padding-left: .5rem;
        display: block
    }

    @media only screen and (min-width:768px) {
        #CRED_GRADE_OUTER_GROUP .border:hover,
        #LOAN_TYPE_OUTER_GROUP .btn-group .border:hover,
        #PRODUCT_OUTER_GROUP .btn-group .border:hover,
        #PROP_DESC_OUTER_GROUP .border:hover,
        #PROP_PURP_OUTER_GROUP .btn-group .border:hover,
        #SPEC_HOME .btn-group .border:hover {
            border-color: #5bb7f7
        }
        .blue-btn:hover {
            background: #5BB7F7;
            color: #fff
        }
    }

    .loading {
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0
    }

    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3)
    }

    .loading:not(:required) {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0
    }

    .loading:not(:required):after {
        content: '';
        display: block;
        font-size: 10px;
        width: 1em;
        height: 1em;
        margin-top: -.5em;
        -webkit-animation: spinner 1.5s infinite linear;
        -moz-animation: spinner 1.5s infinite linear;
        -ms-animation: spinner 1.5s infinite linear;
        -o-animation: spinner 1.5s infinite linear;
        animation: spinner 1.5s infinite linear;
        border-radius: .5em;
        -webkit-box-shadow: rgba(0, 0, 0, .75) 1.5em 0 0 0, rgba(0, 0, 0, .75) 1.1em 1.1em 0 0, rgba(0, 0, 0, .75) 0 1.5em 0 0, rgba(0, 0, 0, .75) -1.1em 1.1em 0 0, rgba(0, 0, 0, .5) -1.5em 0 0 0, rgba(0, 0, 0, .5) -1.1em -1.1em 0 0, rgba(0, 0, 0, .75) 0 -1.5em 0 0, rgba(0, 0, 0, .75) 1.1em -1.1em 0 0;
        box-shadow: rgba(0, 0, 0, .75) 1.5em 0 0 0, rgba(0, 0, 0, .75) 1.1em 1.1em 0 0, rgba(0, 0, 0, .75) 0 1.5em 0 0, rgba(0, 0, 0, .75) -1.1em 1.1em 0 0, rgba(0, 0, 0, .75) -1.5em 0 0 0, rgba(0, 0, 0, .75) -1.1em -1.1em 0 0, rgba(0, 0, 0, .75) 0 -1.5em 0 0, rgba(0, 0, 0, .75) 1.1em -1.1em 0 0
    }

    @-webkit-keyframes spinner {
        0% {
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
            transform: rotate(0)
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }

    @-moz-keyframes spinner {
        0% {
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
            transform: rotate(0)
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }

    @-o-keyframes spinner {
        0% {
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
            transform: rotate(0)
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }

    @keyframes spinner {
        0% {
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
            transform: rotate(0)
        }
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }